body {
    position: relative;
    background-image: url(../images/megaman2.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    z-index: 1;
    /* margin-left: 300px; */
    margin: auto;
    font-family: Arial, Helvetica, sans-serif
}

#my-canvas {
    border: 5px solid black;
    position: absolute;
    margin: auto;
    z-index: 2;
}

#my-canvas.blur {
    background: radial-gradient(circle farthest-side, rgba(37, 33, 33, 0.6), rgba(7, 5, 5, 0.829)),
    /* background: radial-gradient(center ) */
}
