#game-name {
    font-family: "Halo";
    font-size: 60px;
}

#menu {
    height: 405px;
    width: 720px;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background-color:gray;
    /* padding:5px; */
    font-family: "ArcadeClassic";
    border: 5px solid black;
}



#instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "ArcadeClassic", cursive;
    margin: 0;
    padding-bottom: 20px;
}


#play {
    outline-style: none;
}

#play:hover {
    color:white;
    cursor: pointer;
}

#gameover {
    width: 720px;
    height: 405px;
    position: absolute;
    /* flex-direction: column; */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 5;
    visibility: hidden;
    font-family: "ArcadeClassic";
    background-color: gray;
    /* left: 5px; */
    border: 5px solid black;
    opacity: .9;
}

#gameover p {
    position: relative;
    display: flex;
    justify-content: center;
    /* line-height: 25px; */
    z-index: 5;
    font-family: "ArcadeClassic";
    cursor: pointer;
    margin: auto;
}

#gameover p:hover {
    color: white;
    cursor: pointer;
}